{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid"> <!-- Changed container to container-fluid -->
    <div class="row no-gutters"> <!-- Added no-gutters class to remove margins/paddings -->
        <div class="col-md-12">

            <h1>Ca</h1>
            {% include 'inc/slider.html' %}


            
            <div class="grid-container">
                {% for item in category %}
                <div class="grid-item {% cycle 'large' 'smaller' 'small' 'medium' %}">
                    <div class="card h-100">
                        <a href="{% url 'collectionsview' item.slug %}">
                            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                        </a>
                        <div class="card-title-overlay">
                            <h5 class="card-title text-center">{{ item.name }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
